.sidebar {
  background: url('/public/images/dipanjan.blog.sidebar.png');
  background-size: cover;
  padding: 28px 16px;
  box-sizing: border-box;
  
  text-align: center;
  min-height: 70vh;  

  display: flex; 
  justify-content: flex-end;
  flex-direction: column;
  
  .sidebar-about, .sidebar-nav {
    flex: 0 0 auto;
  }
  
  .sidebar-about h1 {
    font-size: 22px;
    line-height: 31px;
    font-weight: 900;
    
    a {
      color: $col-black;
      text-decoration: none;
      
      &:hover {
        text-decoration: none;
        color: $col-black;
      }
    }
  }
  
  .sidebar-nav {
    a.sidebar-nav-item {
      display: block;
      color: $col-black;
      text-decoration: none;
      font-family: $typ-sans;
      
      &:hover {
        text-decoration: none;
        color: $col-black;
      }
    }
  }
}

.content {
  box-sizing: border-box;
  padding: 3em 2em;
}

@media(min-width: 48em) {
  .content {
    margin-left: 240px;
    max-width: 38rem;
  }
  
  .sidebar {
    position: fixed;
    left: 0; top: 0;
    width: 240px; height: 100vh;
    box-sizing: border-box;
    
    text-align: right;
    
    .sidebar-about, .sidebar-nav {
      flex: 0 0 auto;
    }
  }
}